OBJECTIVES:
A company started to invest in digital marketing as a new way of their product
promotions.For that they collected data and decided to carry out a study on it.
● The company wishes to clarify whether there is any increase in sales after
stepping into digital marketing.
● The company needs to check whether there is any dependency between the
features “Region” and “Manager”.
Help the company to carry out their study with the help of data provided.

In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv("Sales_add.csv")
df1

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

# 1.Testing whether there is any increase in sales after
stepping into digital marketing.

In [ ]:
H0:There is no increase in sales after digital marketing
H1:There is an increase in sales after digital marketing
Levelof significance=0.05

In [3]:
df2=df1['Sales_before_digital_add(in $)']
df3=df1['Sales_After_digital_add(in $)']
df4=df1.groupby('Manager').mean()
df5=df1.groupby('Region').mean()

In [9]:
import scipy.stats as stats
tscore, pval=stats.ttest_ind(df2,df3,equal_var=True,alternative='two-sided')
alpha=0.05
if pval<=alpha:
 print('Reject null hypothesis')
else:
    print('Accept null hyp')
print(tscore)
print(pval)

Reject null hypothesis
-12.995084451110877
2.614368006904645e-16

Here the p value is less than 0.05, so we reject null hypothesis
i.e., there is an increase in sales after digital marketing.

# 2.Checking for any dependency between the
features “Region” and “Manager”.

In [ ]:
#H0= There is no dependency between managers and region.
#H1= There is dependency between managers and region.

In [ ]:
#chi squaretest is used to check the dependency between the two features.

In [11]:
c_table=pd.crosstab(df1['Region'],df1['Manager'])#contigency table

In [12]:
o_values=c_table.values#observed value

In [13]:
b=stats.chi2_contingency(c_table)

In [14]:
e_values=b[3]#expected value

In [15]:
no_of_rows=len(c_table.iloc[0:2,0])
no_of_columns=len(c_table.iloc[0,0:2])
ddof=(no_of_rows-1)*(no_of_columns-1)

In [16]:
from scipy.stats import chi2
chi_square=sum([(o-e)**2./e for o,e in zip(o_values,e_values)])
chi_stat=chi_square[0]+chi_square[1]
print('chi2:',chi_stat)

chi2: 2.921995464852608

In [17]:
p_value=1-chi2.cdf(x=chi_stat,df=ddof)
print(p_value)

0.08737974495299139

Here p value is greater than alpha value,0.05 so we accept null hypothesis.
there is no dependency between region and managers.